.ppp--form-field {
  display: flex;
  flex-direction: column;
  border: none;
  margin-bottom: 48px;

  @include media-mid {
    width: 50%;
  }
}

.ppp--text-input {
  height: 32px;
  border: none;
  border-bottom: 1px solid;
  margin: 0 4px 32px 0;
  width: 100%;

  &:focus {
    outline: none;
    border-bottom: 2px solid $brand-01;
  }
}

.ppp--button {
  height: 36px;
  background: $brand-01;
  color: $text-04;
  padding: 4px 16px;

  @include border-radius;

  border: none;
  font-size: 14px;

  &:focus {
    outline: none;
  }

  &:disabled {
    cursor: not-allowed;
    background: $text-02;
  }
}

.ppp--error {
  color: $error-01;
}
