.ppp--roster {
  overflow: auto;

  @include media-mid {
    overflow: hidden;
    margin-left: 32px;
  }
}

.ppp--roster__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 8px;
  grid-auto-rows: minmax(auto, 48px);

  @include media-mid {
    grid-auto-rows: minmax(auto, 32px);
  }
}

.ppp--roster__grid-heading {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 8px;
  grid-auto-rows: minmax(auto, auto);

  @include media-mid {
    grid-auto-rows: minmax(auto, 64px);
  }
}

.ppp--roster__data {
  width: 51px;

  @include media-mid {
    width: 172px;
  }
}

.ppp--loading {
  position: relative;
  left: 186px;
  transform: rotate(-115deg);
}

.spinner {
  fill: transparent;
  stroke: $brand-01;
  stroke-width: 16;
  stroke-dasharray: 535px;
  animation: spinner 5s linear infinite;
}

@keyframes spinner {

  from { stroke-dashoffset: 1605; }
}

.ppp--delete__icon {
  margin-left: -4px;
  margin-top: 2px;

  path {
    stroke: $brand-01;
    stroke-width: 2;
  }
}

.ppp--delete {
  height: 18px;
  width: 18px;
  border: none;

  &:hover {
    background: $brand-01;

    path {
      stroke: $text-04;
      stroke-width: 2;
    }
  }

  &:focus {
    outline: none;
  }

  @include border-radius;
}
