.ppp--footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background: $brand-01;
  color: $text-04;
  height: 48px;
  position: fixed;
  width: 100%;
  z-index: 999;
  margin: -8;
  bottom: 0;

  @include media-mid {
    height: 72px;
  }

}
