.ppp--header {
  font-size: 24px;
  text-align: center;
  @include media-mid {
    font-size: 32px;
  }
}

.ppp--navbar {
  ol {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    margin-left: 0;
    padding-left: 0;
    align-items: baseline;
  }

  img {
    align-items: center;
  }
}

.ppp--brand {
  display: flex;
  align-items: baseline;
}

.ppp--brand__link {
  display: flex;
  align-items: baseline;
  color: $text-01;
}

.ppp--menu-item {
  display: none;
  @include media-mid {
    display: flex;
    width: 64px;
    justify-content: center;
    border: 1px solid transparent;
  }

  &:hover {
    &:before {
      content: '';
      position: absolute;
      height: 4px;
      width: inherit;
      top: 76px;
      background: $brand-01;
    }
  }

  &:focus {
    a {
      border: 1px solid $brand-01;
    }
  }
}

.ppp--logo {
  height: 48px;
  margin-right: 8px;
  position: relative;
  bottom: -10px;
}
