.ppp--header {
  font-size: 24px;

  @include media-mid {
    font-size: 32px;
  }
}

.ppp--navbar {

  ol {
    list-style: none;
    display: flex;
    margin-left: 0;
    padding-left: 0;
    align-items: baseline;

    @include media-mid {
      justify-content: space-evenly;
    }
  }

  img {
    align-items: center;
  }
}

.ppp--brand {
  display: flex;
  align-items: baseline;
  margin-left: 16px;
}

.ppp--brand__link {
  display: flex;
  align-items: baseline;
  color: $text-01;
}

.ppp--menu-item {
  display: none;

  @include media-mid {
    display: flex;
    width: 64px;
    justify-content: center;
    border: 1px solid transparent;
  }

  &:hover {

    &:before {
      content: '';
      position: absolute;
      height: 4px;
      width: inherit;
      top: 76px;
      background: $brand-01;
    }
  }

  &:focus {

    a {
      border: 1px solid $brand-01;
    }
  }
}

.ppp--logo {
  height: 32px;
  margin-right: 8px;
  position: relative;
  bottom: -10px;

  @include media-mid {
    height: 48px;
  }
}

.ppp--menu__mobile {

  span,
  span:before,
  span:after {
    content: '';
    position: absolute;
    width: 20px;
    height: 3px;
    background: $brand-01;
    display: block;

    @include border-radius;
  }

  span {
    top: 36px;
    right: 16;
  }

  span:before {
    top: -8px;
  }

  span:after {
    top: 8px;
  }

  @include media-mid {
    display: none;
  }
}

.ppp--menu__mobile-open {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 999;
  background: $text-04;
  width: 150px;
  height: 100vh;
  box-shadow: -3px 0 16px $text-03;
}

.ppp--menu-item__mobile {
  padding: 16px;
  width: 100%;
}
