.ppp--login {
  display: flex;
  flex-direction: column;
  margin: 32px 48px;
  width: 100%;

  @include media-mid {
    flex-direction: row;
  };
}

.ppp--menu__mobile {
  span, span:before, span:after {
    content: '';
    position: absolute;
    width: 24px;
    height: 4px;
    background: $brand-01;
    display: block;
    border-radius: 4px;
  }
  span {
    top: 52px;
    right: 0;
  }

  span:before {
    top: -8px;
  }

  span:after {
    top: 8px;
  }

  @include media-mid {
    display: none;
  }
}
